.lol {
  background-color: $bg-gray;
  color: #ffffff;
  padding: 20px;
  &-heading {
    font-size: 60px;
    line-height: 90.4458px;
    font-weight: 500;
    margin-top: 67px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    list-style-type: none;
    text-align: center;
    grid-gap: 30px 30px;
    margin-bottom: 150px;
  }
  &-item {
    width: 340px;
    &_heading {
      font-size: 47.3344px;
      line-height: 52.9388px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &_location {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 17.8432px;
      letter-spacing: 0.356864px;
      line-height: 21.4118px;
      font-weight: 300;
      margin-bottom: 5px;
      & span {
        &:nth-child(1) {
          text-transform: uppercase;
        }
      }
    }
    &_icon {
      color: white;
      font-size: 17.8432px;
      letter-spacing: 0.356864px;
      line-height: 21.4118px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 35px;
      padding: 8px;
    }
  }
  &-direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
      color: white;
      font-size: 24px;
      line-height: 47.3344px;
      text-align: right;
    }
  }
}
