.shop {
  color: $text-black;
  &-banner {
    position: relative;
    display: flex;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
    }
    &_wrapper {
      overflow: hidden;
    }
    &_list {
      display: flex;
      position: relative;
      transition: transform 0.5s linear;
    }
    &_icon {
      position: absolute;
      color: white;
      font-size: 100px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 100;
    }
    & .icon-right {
      right: 50px;
      top: 50%;
    }
    & .icon-left {
      left: 80px;
      top: 50%;
    }
  }
  &-cards {
    position: relative;
    margin-bottom: 50px;
    &_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 200px;
    }
    &_heading {
      position: relative;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 60px;
      &::after {
        content: "";
        width: 40px;
        height: 2px;
        background-color: $text-black;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    // &:nth-child(3) .shop-cards_list {
    //   grid-template-columns: repeat(4, 1fr);
    // }
  }
  &-card {
    width: 294px;
    height: 410px;
    text-align: center;
    cursor: pointer;
    &:hover .shop-card_icons {
      bottom: 5%;
      left: 50%;
      transition: all 0.4s ease-in-out;
    }
    &_img {
      width: 294px;
      height: 294px;
      position: relative;
      overflow: hidden;
    }
    &_icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 20px;
      position: absolute;
      bottom: -100px;
      transform: translateX(-50%);
    }
    &_icon {
      & a {
        color: $bg-gray;
      }
      & .heart {
        &:hover {
          color: red;
          animation: heart 2.5s infinite;
        }
      }
    }
    &_heading {
      font-weight: 500;
      font-size: 17px;
      line-height: calc(21 / 17);
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    &_price {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &-box {
    margin: 0 auto;
    display: flex;
    gap: 0 50px;
    width: 1300px;
    height: 430px;
    background: #f5f5f5;
    margin-bottom: 130px;
    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &_heading {
      font-weight: 600;
      font-size: 24px;
      line-height: calc(29 / 24);
      width: 213px;
      margin-bottom: 35px;
    }
    &_text {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      width: 305px;
      margin-bottom: 40px;
    }
    &_btn {
      background-color: rgba(198, 57, 57, 1);
      width: 153px;
      height: 45px;
      border-radius: 60px;
      padding: 12px 35px;
      font-weight: 600;
      font-size: 17px;
      line-height: 21px;
      display: inline-block;
      color: white;
      text-align: center;
    }
  }
  &-slice {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
    &_text {
      text-align: center;
      font-weight: 400;
      font-size: 22px;
      line-height: calc(27 / 22);
    }
  }
}

// animation
@keyframes heart {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

//
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
