.teams {
  padding: 50px 0;
  background-color: #2a2829;
  &-heading {
    color: white;
    font-weight: 600;
    font-size: 65px;
    line-height: calc(79 / 65);
    margin-bottom: 60px;
    margin-left: 100px;
  }
  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
  }
  &-card {
    width: 314px;
    height: 440px;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#2a2829, 0.7);
      opacity: 0;
      transition: all 0.5s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      & .overlay-text {
        width: 282px;
        font-size: 40px;
        line-height: 1.05;
        font-weight: 600;
        color: white;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
  }
}
