<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="../img/logo/logo-10px.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <header class="header">
        <a href="./index.html" class="header-logo">
            <img src="../img/logo/t1-br.png" alt="">
        </a>
        <div class="header-nav">
            <a href="../view/about.html" class="header-nav_item">About</a>
            <a href="../view/team.html" class="header-nav_item">Teams</a>
            <a href="./social.html" class="header-nav_item">Socials</a>
            <a href="./news.html" class="header-nav_item">News</a>
            <a href="./partners.html" class="header-nav_item">Partners</a>
            <a href="./shop.html" class="header-nav_item">Shop</a>
        </div>
    </header>
    <main class="about">
        <h2 class="about-heading">ABOUT 1</h2>
        <p class="about-desc">
            Rooted in our legacy of raising trophies and inspired by our passion for victory.
        </p>
        <h4 class="about-subheading">
            We are T1.
        </h4>
        <p class="about-desc">
            T1 Entertainment & Sports is a global esports joint venture that owns and operates the ultra-successful T1 League of Legends (LoL) Champions Korea (LCK) team, along with teams in competitive gaming segments that include Dota 2, Super Smash Bros., Valorant,
            Wild Rift, Overwatch Contenders, Splitgate. Building upon the rich legacy of SKT T1, T1 will expand its teams globally, celebrate new victories, and create even more opportunities for fans to embrace T1’s gaming culture, content, and players
            in every corner of the world.
        </p>
        <div class="about-author">
            <h3 class="about-author_heading">OUR LEADERSHIP:</h3>
            <div class="about-author_content">
                <img src="../img/author/img1.png" alt="">
                <div class="about-author_title">
                    <p>JOE MARSH - CEOJoe Marsh is CEO of T1 Entertainment & Sports, a global esports joint venture created by Comcast Spectacor and SK Telecom in October 2019. He oversees operations based in Seoul, Philadelphia, Los Angeles and is responsible
                        for the growth and optimization of T1’s global presence and expansion into new businesses and revenue streams surrounding competitive gaming culture and lifestyle, content, and merchandise.</p>
                    <p>Joe previously served as Chief Business Officer of Comcast’s Spectacor Gaming division and the Philadelphia Fusion esports franchise that competes in the Overwatch League.</p>
                    <p>Joe was named Vice President and Chief Financial Officer of the Fusion in 2018, providing direct oversight of financials for the team, including budgeting, forecasting, and long-range planning. Prior to joining Spectacor Gaming and
                        the Philadelphia Fusion, Joe held several finance positions at Comcast Spectacor, where he was responsible for the development, coordination, consolidation and communication of the company's annual budgeting, long-range planning
                        and forecasting functions for Comcast Spectacor’s core businesses. Joe graduated with a degree in Marketing from Millersville University and later earned his MBA in Finance, Analytics and Strategic Management from Villanova University.
                        Marsh currently serves as a strategic advisor to Spectacor Gaming, G4tv and the Philadelphia Fusion. Joe previously served as a board member of Nerd Street Gamers. Joe lives in the Philadelphia area with his wife Kelly and daughters
                        Caden and Colbie.</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-top">
            <img src="../img/patner/img1.png" alt="" class="footer-top_item">
            <img src="../img/patner/img2.png" alt="" class="footer-top_item">
            <img src="../img/patner/img3.png" alt="" class="footer-top_item">
            <img src="../img/patner/img4.png" alt="" class="footer-top_item">
            <img src="../img/patner/img5.png" alt="" class="footer-top_item">
            <img src="../img/patner/img6.png" alt="" class="footer-top_item">
            <img src="../img/patner/img7.png" alt="" class="footer-top_item">
            <img src="../img/patner/img8.png" alt="" class="footer-top_item">
            <img src="../img/patner/img9.png" alt="" class="footer-top_item">
            <img src="../img/patner/img10.png" alt="" class="footer-top_item">
            <img src="../img/patner/img11.png" alt="" class="footer-top_item">
            <img src="../img/patner/img12.png" alt="" class="footer-top_item">
            <img src="../img/patner/img13.png" alt="" class="footer-top_item">
        </div>
        <main class="footer-main">
            <div class="footer-main_list">
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitch"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    Comcast Spectacor
                </span>
                <span class="footer-main_link">
                    SK Square
                </span>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    About
                </span>
                <span class="footer-main_link">
                    Careers
                </span>
                <span class="footer-main_link">
                    Legal Teams
                </span>
                <span class="footer-main_link">
                    Privacy Policy
                </span>
                <span class="footer-main_link">
                    Cookie Policy
                </span>
                <span class="footer-main_link">
                    Contact
                </span>
            </div>
            <p class="footer-main_desc">COPYRIGHT @ 2022 SK Telecom CS T1 Co. ALL RIGHTS RESERVERED</p>
        </main>
    </footer>
</body>

</html>