<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../img/logo/logo-10px.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <header class="header">
        <a href="./index.html" class="header-logo">
            <img src="../img/logo/t1-br.png" alt="">
        </a>
        <div class="header-nav">
            <a href="../view/about.html" class="header-nav_item">About</a>
            <a href="../view/team.html" class="header-nav_item">Teams</a>
            <a href="#" class="header-nav_item">Socials</a>
            <a href="#" class="header-nav_item">News</a>
            <a href="#" class="header-nav_item">Partners</a>
            <a href="#" class="header-nav_item">Shop</a>
        </div>
    </header>
    <main class="details">
        <div class="details-shop">
            <div class="details-shop_images">
                <div class="details-shop_list">
                    <img src="../img/details/img1.png" alt="">
                    <img src="../img/details/img2.png" alt="">
                    <img src="../img/details/img3.png" alt="">
                    <img src="../img/details/img4.png" alt="">
                    <img src="../img/details/img5.png" alt="">
                </div>
                <img src="../img/details/img6.png" alt="">
            </div>
            <div class="details-shop_content">
                <div class="details-shop_content-top">
                    <h3 class="details-shop_heading">
                        2023 T1 Uniform Spring Jacket
                    </h3>
                    <p class="details-shop_text">
                        SKU: 2023-SPR-JKT-BK-L
                    </p>
                    <span class="details-shop_price">2.857.477₫</span>
                </div>
                <img src="../img/details/size.png" alt="">
                <select class="details-shop_select">
                    <option value="Size: S">Size: S</option>
                    <option value="Size: M">Size: M</option>
                    <option value="Size: L">Size: L</option>
                    <option value="Size: XL">Size: XL</option>
                    <option value="Size: XL">Size: XXL</option>
                </select>
                <div class="details-shop_count">
                    <div class="details-shop_icon"><i class="fa-solid fa-plus"></i></div>
                    <div class="details-shop_number">1</div>
                    <div class="details-shop_icon"><i class="fa-solid fa-minus"></i></div>
                </div>
                <div class="details-shop_btn">ADD TO CART</div>
                <div class="details-shop_btn momo">Buy with Momo</div>
            </div>
        </div>
    </main>
    <div class="shop-cards">
        <h3 class="shop-cards_heading">
            You may also like
        </h3>
        <div class="shop-cards_list">
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
        </div>
    </div>
    <div class="shop-cards">
        <h3 class="shop-cards_heading">
            Recently viewed
        </h3>
        <div class="shop-cards_list">
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
            <div class="shop-card">
                <div class="shop-card_img">
                    <img src="../img/shop/img7.png" alt="">
                    <div class="shop-card_icons">
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                        </div>
                        <div class="shop-card_icon">
                            <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                        </div>
                    </div>
                </div>
                <h4 class="shop-card_heading">
                    Together As 1 Demon Tee
                </h4>
                <div class="p shop-card_price">
                    2.857.477₫
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-top">
            <img src="../img/patner/img1.png" alt="" class="footer-top_item">
            <img src="../img/patner/img2.png" alt="" class="footer-top_item">
            <img src="../img/patner/img3.png" alt="" class="footer-top_item">
            <img src="../img/patner/img4.png" alt="" class="footer-top_item">
            <img src="../img/patner/img5.png" alt="" class="footer-top_item">
            <img src="../img/patner/img6.png" alt="" class="footer-top_item">
            <img src="../img/patner/img7.png" alt="" class="footer-top_item">
            <img src="../img/patner/img8.png" alt="" class="footer-top_item">
            <img src="../img/patner/img9.png" alt="" class="footer-top_item">
            <img src="../img/patner/img10.png" alt="" class="footer-top_item">
            <img src="../img/patner/img11.png" alt="" class="footer-top_item">
            <img src="../img/patner/img12.png" alt="" class="footer-top_item">
            <img src="../img/patner/img13.png" alt="" class="footer-top_item">
        </div>
        <main class="footer-main">
            <div class="footer-main_list">
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitch"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    Comcast Spectacor
                </span>
                <span class="footer-main_link">
                    SK Square
                </span>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    About
                </span>
                <span class="footer-main_link">
                    Careers
                </span>
                <span class="footer-main_link">
                    Legal Teams
                </span>
                <span class="footer-main_link">
                    Privacy Policy
                </span>
                <span class="footer-main_link">
                    Cookie Policy
                </span>
                <span class="footer-main_link">
                    Contact
                </span>
            </div>
            <p class="footer-main_desc">COPYRIGHT @ 2022 SK Telecom CS T1 Co. ALL RIGHTS RESERVERED</p>
        </main>
    </footer>
</body>

</html>