<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T1</title>
    <link rel="shortcut icon" href="../img/logo/logo-10px.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/app.css">

</head>

<body>
    <header class="header">
        <a href="./index.html" class="header-logo">
            <img src="../img/logo/t1-br.png" alt="">
        </a>
        <div class="header-nav">
            <a href="../view/about.html" class="header-nav_item">About</a>
            <a href="../view/team.html" class="header-nav_item">Teams</a>
            <a href="./social.html" class="header-nav_item">Socials</a>
            <a href="./news.html" class="header-nav_item">News</a>
            <a href="./partners.html" class="header-nav_item">Partners</a>
            <a href="./shop.html" class="header-nav_item">Shop</a>
        </div>
    </header>
    <main class="main">
        <div class="main-banner">
            <img src="../img/background/index-bg.png" alt="">
        </div>
        <div class="main-row">
            <div class="main-row_content">
                <img src="../img/logo/t1-white.png" alt="" class="main-rown_img">
                <div class="main-row_title">
                    <h3 class="main-row_heading">TOGETHER AS 1</h3>
                    <p class="main-row_desc">Rooted in our legacy of raising trophies and inspired by our passion for victory, we are Together as 1</p>
                </div>
            </div>
        </div>
        <div class="main-shop">
            <div class="main-shop_top">
                <span>ESPORTS APPAREL</span>
                <h2 class="main-shop_heading"><span>T1</span> COLLECTION</h2>
            </div>
            <div class="main-shop_cards">
                <div class="main-shop_card">
                    <img src="../img/shop/img1.png" alt="">
                    <div class="card_content">
                        <h4 class="card_heading">2022 T1 Official Jersey</h4>
                        <a href="#" class="card_button">Buy Now</a>
                    </div>
                </div>
                <div class="main-shop_card">
                    <img src="../img/shop/img2.png" alt="">
                    <div class="card_content">
                        <h4 class="card_heading">FAKER X DECA Uniform</h4>
                        <a href="#" class="card_button">Buy Now</a>
                    </div>
                </div>
                <div class="main-shop_card">
                    <img src="../img/shop/img3.png" alt="">
                    <div class="card_content">
                        <h4 class="card_heading">2023 T1 Uniform Spring </h4>
                        <a href="#" class="card_button">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-shop">
            <div class="main-shop_top">
                <span>ESPORTS APPAREL</span>
                <h2 class="main-shop_heading"><span>T1</span> NA COLLECTION</h2>
            </div>
            <div class="main-shop_cards">
                <div class="main-shop_card">
                    <img src="../img/shop/img4.png" alt="">
                    <div class="card_content">
                        <h4 class="card_heading">T1 Bomber Jacket Black</h4>
                        <a href="#" class="card_button">Buy Now</a>
                    </div>
                </div>
                <div class="main-shop_card">
                    <img src="../img/shop/img5.png" alt="">
                    <div class="card_content">
                        <h4 class="card_heading">T1 Bomber Jacket Olive</h4>
                        <a href="#" class="card_button">Buy Now</a>
                    </div>
                </div>
                <div class="main-shop_card">
                    <img src="../img/shop/img6.png" alt="">
                    <div class="card_content">
                        <h4 class="card_heading">T1 Hoodie</h4>
                        <a href="#" class="card_button">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-teams">
            <h2 class="main-teams_heading">T1 Teams</h2>
            <div class="main-teams_cards">
                <a href="#" class="main-teams_card"><img src="../img/teams/img1.png" alt="" class="main-teams_card"></a>
                <a href="#" class="main-teams_card"><img src="../img/teams/img2.png" alt="" class="main-teams_card"></a>
                <a href="#" class="main-teams_card"><img src="../img/teams/img3.png" alt="" class="main-teams_card"></a>
                <a href="#" class="main-teams_card"><img src="../img/teams/img4.png" alt="" class="main-teams_card"></a>

            </div>
        </div>
        <div class="main-video">
            <h2 class="main-video_heading">LATEST VIDEO</h2>
            <div class="main-video_list">
                <div class="main-video_item">
                    <iframe width="468" height="265" src="https://www.youtube.com/embed/bpDJgCcsNSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="main-video_item">
                    <iframe width="468" height="265" src="https://www.youtube.com/embed/S-11RK7gX_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="main-video_item">
                    <iframe width="468" height="265" src="https://www.youtube.com/embed/BS33_DvNtyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="main-video_item">
                    <iframe width="468" height="265" src="https://www.youtube.com/embed/2sci5jGoNVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="main-video_item">
                    <iframe width="468" height="265" src="https://www.youtube.com/embed/1ZjGu6Hbjvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="main-video_item">
                    <iframe width="468" height="265" src="https://www.youtube.com/embed/bqitcStp0Yw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-top">
            <img src="../img/patner/img1.png" alt="" class="footer-top_item">
            <img src="../img/patner/img2.png" alt="" class="footer-top_item">
            <img src="../img/patner/img3.png" alt="" class="footer-top_item">
            <img src="../img/patner/img4.png" alt="" class="footer-top_item">
            <img src="../img/patner/img5.png" alt="" class="footer-top_item">
            <img src="../img/patner/img6.png" alt="" class="footer-top_item">
            <img src="../img/patner/img7.png" alt="" class="footer-top_item">
            <img src="../img/patner/img8.png" alt="" class="footer-top_item">
            <img src="../img/patner/img9.png" alt="" class="footer-top_item">
            <img src="../img/patner/img10.png" alt="" class="footer-top_item">
            <img src="../img/patner/img11.png" alt="" class="footer-top_item">
            <img src="../img/patner/img12.png" alt="" class="footer-top_item">
            <img src="../img/patner/img13.png" alt="" class="footer-top_item">
        </div>
        <main class="footer-main">
            <div class="footer-main_list">
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitch"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    Comcast Spectacor
                </span>
                <span class="footer-main_link">
                    SK Square
                </span>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    About
                </span>
                <span class="footer-main_link">
                    Careers
                </span>
                <span class="footer-main_link">
                    Legal Teams
                </span>
                <span class="footer-main_link">
                    Privacy Policy
                </span>
                <span class="footer-main_link">
                    Cookie Policy
                </span>
                <span class="footer-main_link">
                    Contact
                </span>
            </div>
            <p class="footer-main_desc">COPYRIGHT @ 2022 SK Telecom CS T1 Co. ALL RIGHTS RESERVERED</p>
        </main>
    </footer>
</body>

</html>