<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop T1</title>
    <link rel="shortcut icon" href="../img/logo/logo-10px.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <header class="header">
        <a href="./index.html" class="header-logo">
            <img src="../img/logo/t1-br.png" alt="">
        </a>
        <div class="header-nav">
            <a href="../view/about.html" class="header-nav_item">About</a>
            <a href="../view/team.html" class="header-nav_item">Teams</a>
            <a href="#" class="header-nav_item">Socials</a>
            <a href="#" class="header-nav_item">News</a>
            <a href="#" class="header-nav_item">Partners</a>
            <a href="#" class="header-nav_item">Shop</a>
        </div>
    </header>
    <main class="shop">
        <!-- Slider-start -->

        <div class="shop-banner">
            <div class="shop-banner_icon icon-left">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="shop-banner_wrapper">
                <div class="shop-banner_list">
                    <img src="../img/shop/banner.png" alt="">
                    <img src="../img/shop/banner1.png" alt="">
                    <img src="../img/shop/banner2.png" alt="">
                    <img src="../img/shop/banner3.png" alt="">
                    <img src="../img/shop/banner4.png" alt="">
                </div>
            </div>
            <div class="shop-banner_icon icon-right">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <!-- <div class="swiper mySwiper shop-banner">
            <div class="swiper-wrapper shop-banner_list ">
                <div class="swiper-slide">
                    <img src="../img/shop/banner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/shop/banner1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/shop/banner2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/shop/banner3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/shop/banner4.png" alt="">
                </div>
            </div>
            <div class="swiper-button-next button-slider"></div>
            <div class="swiper-button-prev button-slider"></div>
        </div> -->

        <!-- Slider-end -->
        <div class="shop-cards">
            <h3 class="shop-cards_heading">
                FAKER'S 10TH DEBUT ANNIVERSARY
            </h3>
            <!-- <div class="shop-cards_list">
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
            </div> -->
            <!-- <div #swiperRef="" class="swiper mySwiper ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="shop-card">
                            <div class="shop-card_img">
                                <img src="../img/shop/img7.png" alt="">
                                <div class="shop-card_icons">
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                                    </div>
                                    <div class="shop-card_icon">
                                        <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="shop-card_heading">
                                Together As 1 Demon Tee
                            </h4>
                            <div class="p shop-card_price">
                                2.857.477₫
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="shop-cards">
            <h3 class="shop-cards_heading">
                NEW ARRIVALS
            </h3>
            <div class="shop-cards_list">
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-cards">
            <h3 class="shop-cards_heading">
                T1 OFFICIAL JERSEY
            </h3>
            <div class="shop-box">
                <div class="shop-box_img">
                    <img src="../img/shop/img-box.png" alt="">
                </div>
                <div class="shop-box_content">
                    <h3 class="shop-box_heading">
                        2023 T1 UNIFORM SPRING JERSEY
                    </h3>
                    <p class="shop-box_text">
                        Wearing a T1 uniform Cheer for T1's victory!
                    </p>
                    <a href="#" class="shop-box_btn">
                        BUY NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="shop-cards">
            <h3 class="shop-cards_heading">
                T1 x GOALSTUDIO
            </h3>
            <div class="shop-cards_list">
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-cards">
            <h3 class="shop-cards_heading">
                ACCESSORIES
            </h3>
            <div class="shop-cards_list">
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
                <div class="shop-card">
                    <div class="shop-card_img">
                        <img src="../img/shop/img7.png" alt="">
                        <div class="shop-card_icons">
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-solid fa-heart heart "></i></a>
                            </div>
                            <div class="shop-card_icon">
                                <a href="#"><i class="fa-regular fa-circle-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="shop-card_heading">
                        Together As 1 Demon Tee
                    </h4>
                    <div class="p shop-card_price">
                        2.857.477₫
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-cards">
            <h3 class="shop-cards_heading">
                COLLABORATION
            </h3>
            <div class="shop-slice">
                <div class="shop-slice_item">
                    <img src="../img/shop/slice1.png" alt="">
                    <p class="shop-slice_text">
                        T1 X SECRETLAB
                    </p>
                </div>
                <div class="shop-slice_item">
                    <img src="../img/shop/slice2.png" alt="">
                    <p class="shop-slice_text">
                        T1 X SECRETLAB
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-top">
            <img src="../img/patner/img1.png" alt="" class="footer-top_item">
            <img src="../img/patner/img2.png" alt="" class="footer-top_item">
            <img src="../img/patner/img3.png" alt="" class="footer-top_item">
            <img src="../img/patner/img4.png" alt="" class="footer-top_item">
            <img src="../img/patner/img5.png" alt="" class="footer-top_item">
            <img src="../img/patner/img6.png" alt="" class="footer-top_item">
            <img src="../img/patner/img7.png" alt="" class="footer-top_item">
            <img src="../img/patner/img8.png" alt="" class="footer-top_item">
            <img src="../img/patner/img9.png" alt="" class="footer-top_item">
            <img src="../img/patner/img10.png" alt="" class="footer-top_item">
            <img src="../img/patner/img11.png" alt="" class="footer-top_item">
            <img src="../img/patner/img12.png" alt="" class="footer-top_item">
            <img src="../img/patner/img13.png" alt="" class="footer-top_item">
        </div>
        <main class="footer-main">
            <div class="footer-main_list">
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitch"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    Comcast Spectacor
                </span>
                <span class="footer-main_link">
                    SK Square
                </span>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    About
                </span>
                <span class="footer-main_link">
                    Careers
                </span>
                <span class="footer-main_link">
                    Legal Teams
                </span>
                <span class="footer-main_link">
                    Privacy Policy
                </span>
                <span class="footer-main_link">
                    Cookie Policy
                </span>
                <span class="footer-main_link">
                    Contact
                </span>
            </div>
            <p class="footer-main_desc">COPYRIGHT @ 2022 SK Telecom CS T1 Co. ALL RIGHTS RESERVERED</p>
        </main>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/shop.js"></script>
</body>

</html>