<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socials</title>
    <link rel="shortcut icon" href="../img/logo/logo-10px.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <header class="header">
        <a href="./index.html" class="header-logo">
            <img src="../img/logo/t1-br.png" alt="">
        </a>
        <div class="header-nav">
            <a href="../view/about.html" class="header-nav_item">About</a>
            <a href="../view/team.html" class="header-nav_item">Teams</a>
            <a href="./social.html" class="header-nav_item">Socials</a>
            <a href="./news.html" class="header-nav_item">News</a>
            <a href="./partners.html" class="header-nav_item">Partners</a>
            <a href="./shop.html" class="header-nav_item">Shop</a>
        </div>
    </header>
    <main class="social">
        <h2 class="social-heading">SOCIALS</h2>
        <div class="social-cards">
            <div class="social-card">
                <h4 class="social-card_heading">YouTube:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img1.png" alt="">
                        <p class="social-card_text">T1</p>
                    </div>
                    <div class="social-card_item">
                        <img src="../img/social/img2.png" alt="">
                        <p class="social-card_text">T1 Fighting</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">Twitter:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1 LoL</p>
                    </div>
                    <div class="social-card_item">
                        <img src="../img/social/img1.png" alt="">
                        <p class="social-card_text">T1</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">Instagram:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1 LoL</p>
                    </div>
                    <div class="social-card_item">
                        <img src="../img/social/img1.png" alt="">
                        <p class="social-card_text">T1 Esports</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">YouTube:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1 LoL</p>
                    </div>
                    <div class="social-card_item">
                        <img src="../img/social/img1.png" alt="">
                        <p class="social-card_text">T1</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">Tik Tok:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">Douyu:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1 Faker</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">Weibo:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1</p>
                    </div>
                </div>
            </div>
            <div class="social-card">
                <h4 class="social-card_heading">AfreecaTV:</h4>
                <div class="social-card_list">
                    <div class="social-card_item">
                        <img src="../img/social/img3.png" alt="">
                        <p class="social-card_text">T1 Esports</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-top">
            <img src="../img/patner/img1.png" alt="" class="footer-top_item">
            <img src="../img/patner/img2.png" alt="" class="footer-top_item">
            <img src="../img/patner/img3.png" alt="" class="footer-top_item">
            <img src="../img/patner/img4.png" alt="" class="footer-top_item">
            <img src="../img/patner/img5.png" alt="" class="footer-top_item">
            <img src="../img/patner/img6.png" alt="" class="footer-top_item">
            <img src="../img/patner/img7.png" alt="" class="footer-top_item">
            <img src="../img/patner/img8.png" alt="" class="footer-top_item">
            <img src="../img/patner/img9.png" alt="" class="footer-top_item">
            <img src="../img/patner/img10.png" alt="" class="footer-top_item">
            <img src="../img/patner/img11.png" alt="" class="footer-top_item">
            <img src="../img/patner/img12.png" alt="" class="footer-top_item">
            <img src="../img/patner/img13.png" alt="" class="footer-top_item">
        </div>
        <main class="footer-main">
            <div class="footer-main_list">
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-twitch"></i>
                </div>
                <div class="footer-main_item">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    Comcast Spectacor
                </span>
                <span class="footer-main_link">
                    SK Square
                </span>
            </div>
            <div class="footer-main_content">
                <span class="footer-main_link">
                    About
                </span>
                <span class="footer-main_link">
                    Careers
                </span>
                <span class="footer-main_link">
                    Legal Teams
                </span>
                <span class="footer-main_link">
                    Privacy Policy
                </span>
                <span class="footer-main_link">
                    Cookie Policy
                </span>
                <span class="footer-main_link">
                    Contact
                </span>
            </div>
            <p class="footer-main_desc">COPYRIGHT @ 2022 SK Telecom CS T1 Co. ALL RIGHTS RESERVERED</p>
        </main>
    </footer>
</body>

</html>